[Unit]
Description=Prometheus

[Service]
Type=simple
ExecStart=prometheus --config.file=/etc/prometheus/prometheus.yml

[Install]
WantedBy=multi-user.target
